html {
  scroll-padding-top: 77px;
}

body {
  scroll-behavior: smooth;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.main-header .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.main-header nav .active {
  color: #E51B3E !important;
}

.main-header nav .active:hover {
  border-bottom: 1px solid #E51B3E;
}

.main-header nav a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #F8F9FA;
}

.main-header nav a:hover {
  border-bottom: 1px solid #c0c0c0;
}

section {
  padding: 40px 0;
}

footer {
  background-color: #040404;
  color: #efefef;
  padding: 40px 0 20px;
}

footer .aluno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .aluno h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

footer .aluno p {
  margin: 0 0 20px;
}

footer .aluno ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  list-style-type: none;
  padding: 0;
}

footer .aluno ul a img {
  max-width: 48px;
  opacity: 0.3;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

footer .aluno ul a:hover > img {
  opacity: 1;
}

footer p {
  text-align: center;
  margin-top: 20px;
}

.intro {
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat fixed center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #efefef;
}

.intro div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.intro h1 {
  color: #E51B3E;
  font-weight: bolder;
  font-size: 4rem;
}

.intro .button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #2ecc71;
  background-color: rgba(46, 204, 113, 0.1);
  color: #efefef;
  padding: 10px 20px;
  border-radius: 5px;
}

.catalog {
  padding: 40px 0;
}

.catalog h1 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 40px;
}

.catalog .card {
  margin-bottom: 25px;
  padding: 0;
}

.catalog .card:hover > img {
  max-height: 100%;
}

.catalog .card img {
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.catalog .card h1 {
  font-size: 1.25rem;
}

.movie-video {
  padding: 0;
}

.movie-video iframe {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.movie-title {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #efefef;
  z-index: 1;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.movie-title h1 {
  font-size: 4rem;
}

.movie-title .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
  color: #daa520;
}

.about-movie {
  background-color: #000;
  color: #efefef;
}

.about-movie h2 {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */